{% extends "base.html" %}
{% block content %}

<h3 class="text-darken-4 center-align">Add recipe</h3>

<div class="container add-recipe-page">
    <div class="row">
        <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}" id="formAddRecipe">
            <!-- Category -->
            <div class="row">
                <div class="input-field col s12">
                    <select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled selected>Choose Category</option>
                        {% for category in categories %}
                        <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
                    <label for="category_name">Category</label>
                </div>
            </div>
            <!-- Recipe Name -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="recipe_name" name="recipe_name" class="materialize-textarea" type="text"
                        required>
                    <label for="recipe_name">Recipe Name</label>
                </div>
            </div>
            <!-- Url image -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="image_url" name="image_url" class="materialize-textarea" type="url"
                        required>
                    <label for="image_url">Enter an https:// URL for the image</label>
                </div>
            </div>
            <!-- Ingredients -->
            <div class="row">
                <div class="input-field col s12 textarea-add">
                    <textarea id="ingredients" name="ingredients" class="materialize-textarea mt-textarea" required></textarea>
                    <label for="ingredients">Ingredients (Please return to the line in each ingredient by clicking enter)</label>
                </div>
            </div>
            <!-- Preparation -->
            <div class="row">
                <div class="input-field col s12 textarea-add">
                    <textarea id="preparation" name="preparation" class="materialize-textarea mt-textarea" required></textarea>
                    <label for="preparation" id="preparation-label">Preparation (Please return to the line in each preparation step by clicking enter)</label>
                </div>
            </div>
            <!-- Buttons Add/Cancel -->
            <div class="row buttons">
                <!-- Button Add -->
                <div class="col s4 m2 offset-m3 center-align">
                    <button type="submit" class="col s12 btn-large waves-effect waves-light">Add</button>
                </div>
                <!-- Button Reset -->
                <div class="col s4 m2 center-align">
                    <button type="button" onclick="formReset()" class="col s12 btn-large waves-effect waves-light">Reset</button>
                </div>
                <!-- Button Cancel -->
                <div class="col s4 m2 center-align">
                    <a class="col s12 btn-large waves-effect waves-light cancel" href="{{ url_for('get_recipes') }}">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}