{% extends "base.html" %}
{% block content %}

    <!--Heroes images-->
    <div class="hero-image row valign-wrapper">
        <div class="col s12 center-align text-shadow">
            {% if not session['user'] %}
            <h1>Welcome to my Heatlhy Recipe!</h1>
            <p>To create, share, find and save your favorites healthy recipes, register  <a href="{{ url_for('register') }}" class="teal-text">here</a></p>
            {% else %}
            <h1>Welcome {{username}}!</h1>
            <p>You can search your favorites recipes below or add a new recipe by clicking <a href="{{ url_for('get_recipes') }}" class="teal-text">here</a></p>
            {% endif %}
            {% for recipe in recipes %}
            {{ recipe.recipe_name }}
            {{ recipe.category_name }}
            {{ recipe.ingredients }}
            {% endfor %}
        </div>
    </div>

    <!--list of recipe from user and other users-->
    <div class="container">
        <div class="row">
            {% for recipe in recipes %}
            <a href="{{ url_for('show_recipe') }}">
                <div class="col s12 m5 offset-m1 l4">
                    <div class="card">
                        <div class="card-image">
                            <img src="static/images/porridge.jpg" src="{{ recipe.image_url }}">
                        </div>
                        <div class="card-content">
                            <span class="card-title">{{ recipe.recipe_name }}</span>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>

    <!--{% for recipe in recipes %}
        {{ recipe.image_url}}<br>
        {{ recipe.recipe_name }}<br>
        {{ recipe.category_name }}<br>
        {{ recipe.ingredients }}<br>
        {{ recipe.preparation }}<br>
        {{ recipe.image_url }}<br>
        {{ recipe.created_by }}<br>
        {{ recipe.username }}<br>
    {% endfor %}-->

{% endblock %}
