{% extends "base.html" %}
{% block content %}

    <!-- Heroes images -->
    <div class="hero-image row valign-wrapper">
        <!-- Welcome message -->
        <div class="col s12 center-align text-shadow">
            <!-- Message without login -->
            {% if not session['user'] %}
            <h1>Welcome to my Healthy Recipe!</h1>
            <p>To create your favorites healthy recipes, <b><a href="{{ url_for('register') }}" class="teal-text">register here</a></b></p>
            <!-- Message if user login -->
            {% else %}
            <h1>Welcome {{username}}!</h1>
            <p>You can search your favorites recipes below or add a new recipe by clicking <a href="{{ url_for('add_recipe') }}" class="teal-text">here</a></p>
            {% endif %}
        </div>
    </div>

    <div class="container">
        <!-- Search bar -->
        <div class="row">
            <form action="{{ url_for('search') }}" method="post" class="col s12">
                <div class="row valign-wrapper">
                    <div class="col s12">
                        <!-- Search input -->
                        <div class="input-field col s11 m8">
                            <i class="fas fa-search prefix"></i>
                            <input type="text" name="query" id="query" minlength="3" class="validate grey lighten-5">
                            <label for="query">Search Recipes</label>
                        </div>
                        <!-- Select category -->
                        <div class="input-field col s12 m4">
                            <select multiple name="categories" id="categories">
                                <option value="" disabled selected>Category</option>
                                {% for category in categories %}
                                <option value="{{ category.category_name }}">{{ category.category_name }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <!-- Reset and Search buttons -->
                <div class="row">
                    <div class="col s12 center-align">
                        <!-- Reset button -->
                        <a href="{{ url_for('get_recipes') }}" class="btn text-shadow" id="reset-btn-red">
                            <i class="fas fa-undo left"></i> Reset
                        </a>
                        <!-- Search button -->
                        <button type="submit" class="btn text-shadow" id="search-button">
                            <i class="fas fa-search left"></i> Search
                        </button>
                    </div>
                </div>
            </form>
        </div>
        {% if recipes|length > 0 %}
        <!-- List of recipe from user and other users -->
        <div class="row recipe-list">
            {% for recipe in recipes %}
            <a href="{{ url_for('show_recipe', recipe_id=recipe._id) }}">
                <div class="col s12 m6 l4">
                    <div class="card">
                        <!-- Image recipe -->
                        <div class="card-image">
                            <img src="{{ recipe.image_url }}" alt="{{ recipe.recipe_name }}">
                        </div>
                        <!-- Content recipe -->
                        <div class="card-content">
                            <!-- Recipe name -->
                            <div class="row">
                                <div class="col">
                                    <span class="card-title">{{ recipe.recipe_name }}</span>
                                </div>
                            </div>
                            <!-- User´s name -->
                            <div class="row">
                                <div class="col">
                                    <span class="created-by"><em>by: {{ recipe.created_by }}</em></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
            {% if not search %}
            <!-- Pagination -->
            <div>
                <ul class="pagination">
                    {% for n in range(number_of_pages) %}
                        {% if n+1 == page %}
                            <li><a href="/get_recipes/{{ n + 1}}" class="teal-text active">{{ n+1 }}</a></li>
                        {% else %}
                            <li><a href="/get_recipes/{{ n + 1}}" class="teal-text">{{ n+1 }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        {% else %}
        <!-- If user searchs a recipe that doens´t exist -->
        <h3 class="red-text text-darken-4 center-align">No Results Found</h3>
        {% endif %}
    </div>
{% endblock %}
