{% extends "base.html" %}
{% block content %}
<div class="container recipe-page">
    <!-- Content recipe -->
    <div class="row">
        <!-- Image recipe -->
        <div class="col s12 m6 card-image">
            <img class="recipe-image" src="{{ recipe.image_url }}">
        </div>
        <div class="col s12 m6">
            <!-- Recipe name -->
            <h2 class="center-align">{{ recipe.recipe_name }}</h2>
            <!-- Ingredients -->
            <h3><i>Ingredients</i></h3>
            <p class="list-recipe">{{ recipe.ingredients }}</p>
        </div>
        <!-- Preparation -->
        <div class="col s12">
            <h3><i>Preparation</i></h3>
            <p class="list-recipe">{{ recipe.preparation }}</p>
        </div>
    </div>
    <!-- Button Edit/Delete/Homepage -->
    <div class="row center-align buttons">
        <!-- Edit butto n-->
        {% if session.user|lower == recipe.created_by|lower %}
        <a class="waves-effect waves-light btn" href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">Edit</a>
        <!-- Delete button -->
        <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Delete</a>
            <!-- Modal message -->
            <div id="modal1" class="modal">
                <div class="modal-content">
                    <p>Are you sure you want to delete this recipe?</p>
                </div>
                <div class="modal-footer">
                    <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="waves-effect waves-light btn">Yes</a>
                    <a href="{{ url_for('show_recipe', recipe_id=recipe._id) }}" class="waves-effect waves-light btn">No</a>
                </div>
            </div>
        {% endif %}
        <!-- Homepage button -->
        <a class="waves-effect waves-light btn home-btn" href="{{ url_for('get_recipes') }}">Homepage</a>
    </div>
</div>

{% endblock %}
